@inherits UmbracoViewPage<IEnumerable<Umbraco.Cms.Core.Models.Link>>
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Core.Security
@using Umbraco.Common.Constants
@using UmbracoWorld.PublishedModels
@inject IMemberManager memberManager

@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var loggedinMember = await memberManager.GetCurrentMemberAsync();
    var currentMember = memberManager.AsPublishedMember(loggedinMember) as Member;
    var darkNavbar = (bool)(ViewData["DarkNavbar"] ?? false);
}

<nav class="navbar @(darkNavbar ? "bg-blue-light" : "")" id="navbar">
    <div class="navbar__inner">
        <a class="navbar__brand @(darkNavbar ? "text-black" : "text-white")" href="/">
            <img src="/assets/images/world.png" alt="Umbraco World logo" width="60" height="60"/>
            Umbraco World
            @* <lottie-player src="/assets/images/lottie/logo.json" background="transparent" speed="1" loop autoplay></lottie-player> *@
        </a>
        <uw-navigation-toggle is_dark="@darkNavbar">
            <div class="nav-links" slot="links">
                <ul>
                    @foreach (var link in Model)
                    {
                        <li class="@(Umbraco.AssignedContentItem.Url() == link.Url ? "active" : "")">
                            <a class="nav-link" title="@link.Name" target="@link.Target" href="@link.Url">@link.Name</a>
                        </li>
                    }
                </ul>
                <ul class="nav-links--account">
                    @if (isLoggedIn)
                    {
                        <li class="nav-links--account__name">
                            @if (currentMember?.ProfileImage is not null)
                            {
                                <img class="rounded-circle" src="@currentMember?.ProfileImage.GetCropUrl(ImageCropConstants.Square300)" width="32" height="32"/>
                            }
                            else
                            {
                                <img class="rounded-circle" src="/assets/images/userPlaceholder.png" width="32" height="32"/>
                            }
                            <span class="text-primary">@currentMember?.Name</span>

                        </li>
                        <li class="nav-links--account__actions">
                            <a class="btn btn--small btn--primary" href="/account">My account</a>

                            @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout", new { RedirectUrl = "/" }))
                            {
                                <button type="submit" class="btn btn--small btn--danger" href="#">Logout</button>
                            }
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/login" class="btn btn--danger">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </uw-navigation-toggle>
    </div>
</nav>