@inherits UmbracoViewPage<Umbraco.Features.Home.Home>

@{
    Layout = "./Layouts/_Layout.cshtml";
}

<uw-home-hero>
    <div slot="heading"> Expanding the <span class="text-peach-dark">world</span> of Umbraco</div>
    <p slot="subheading">Umbraco world is an aggregation tool first and foremost. It’s only purpose is to make things easier to find and easier to digest.</p>
</uw-home-hero>

@if (Model.FeaturedShowcases is not null)
{
    <uw-section type="primary">
        <h2 class="text-white text-center">Showcases</h2>
        <div class="home-showcases--container">

            @foreach (var showcase in Model.FeaturedShowcases)
            {
                <uw-card
                    href="/s/@showcase.Id"
                    profile_src="@showcase.AuthorSummary.ProfilePictureSource"
                    image_src="@showcase.ImageSource"
                    title="@showcase.Title"
                    author_name="@showcase.AuthorSummary.Name"
                    body="@showcase.Summary"
                    date="@showcase.DateCreated.ToShortDateString()">
                </uw-card>
            }

        </div>

    </uw-section>
}

<uw-section type="peach-dark">
    <h2 class="text-white text-center">Events</h2>
</uw-section>

<uw-section type="white">
    <h2 class="text-primary text-center">Strength in numbers</h2>
</uw-section>


<style>
    .box {
    width:  100%;
    height:  400px;
    background:  white;
    
    }
</style>